<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>SupabaseRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>natedoesthings.gympeople</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>https://$(SUPABASE_URL)</string>
	<key>R2_API_ENDPOINT</key>
	<string>https://$(R2_API_ENDPOINT)</string>
	<key>R2_UPLOAD_SECRET</key>
	<string>$(R2_UPLOAD_SECRET)</string>
	<key>UIAppFonts</key>
	<array>
		<string>font.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
